<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
    <script src="js/app.js"></script>
</head>
<body>
    {{>header}}
    
    <div class="about-text">
        <p>This is a small project I created to learn about APIs.</p>
        <p>Server built using Node.js</p>
        <p>App is deployed and hosted on Heroku.</p>
        <p>It uses the weatherstack.com API</p>
    </div>

    {{>footer}}
</body>
</html>