<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
    <script src="js/app.js"></script>
</head>
<body>
    {{>header}}
    <div class="help-text">
        <p>This site allows you to search for the weather by location.</p>
        <p>Simply type in a location in the input, then press search.</p>
        <p>It will search a weather API with a query and retrieve JSON data.</p>
        <p>The JSON data is than parsed and rendered for viewing in the browser.</p>
    </div>
    {{!-- <p>Help Message: {{helpMsg}}</p> --}}
    {{>footer}}
</body>
</html>