* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    /* text-align: center; */
    padding: 2rem;
}

nav {
    display: flex;
    /* justify-content: center; */
}

nav a {
    color: rgb(21, 57, 156);
    text-decoration: none;
    padding: 2rem 2rem 0 0;
}

footer {
    padding: 2rem;
    font-size: 0.6rem;
    /* font-style: italic; */
    color: rgb(102, 102, 102);
}

.weather-data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(43, 50, 88);
    padding: 2rem;
}

input {
    padding: 1rem;
}

button {
    padding: 1rem;
}

.weather-text {
    margin-left: 2rem;
}

#weather-display1, #weather-display2 {
    /* padding: 1rem 0; */
    color: rgb(179, 188, 236);
}

.about-text, .help-text, .not-found-text {
    background-color: rgb(43, 50, 88);
    padding: 2rem;
    color: white;
}